*{
    width: 100%;
    height: auto;
    margin: 0% 0%;
}
#top-bar{
    border: 1px solid black;
    width: 100%;
    height: 30px;
    background-color: black;
}
#top-text{
    color: white;
    margin-left: 70px;
    font-size: 17px;
    margin-top: 0.5%;
}
#top-menu-bar{
    border: 1px solid black;
    width: 100%;
    height: 15%;
    margin-top: 0px;
}
header{
    display: flex;
}
#header ul{
    display: flex;
}
#top-menu-bar-button{
    margin: 20px 400px;
    padding: 1px 5px;
    align-items: right;
}